<div class="container">
    <div class="content-contact">
        <h2>Contacto</h2>
        <div class="content-info">
            <p class="content-info-saludo">
                {{regards}}
            </p>
            <div class="content-info-contact">
                <p><i class="fa fa-phone-square" id="phone_icon"></i><span class="content-info-contact-data">tel</span></p>
                <p><i class="fa fa-envelope" id="mail_icon"></i><span class="content-info-contact-data">mail</span></p>
            </div>
        </div>
        <div class="content-redes">
            <h3>Redes Sociales</h3>
            <div class="content-redes-icons">
                <a href="#" target="blanck"><i class="fa fa-whatsapp"></i></a>
                <a href="#" target="blanck"><i class="fa fa-linkedin"></i></a>
                <a href="#" target="blanck"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
</div>
