<div id="title">
    <div class="title-img">
        <img src="{{imagenPersonal}}" alt="imagen_de_perfil">    
    </div>
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
</div>

<div class="about">
    <h2>Sobre mí</h2>
    <div class="about-me">
        <h3>¡Hola! soy ....(nombre)...</h3>
        <div class="about-me-parrafo">
            <p class="primer-parrafo">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Tenetur harum quos illo asperiores ut obcaecati unde, esse 
                exercitationem nulla error repellat pariatur natus deleniti, 
                magnam modi mollitia veniam ex! Dolorum.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Tenetur harum quos illo asperiores ut obcaecati unde, esse 
                exercitationem nulla error repellat pariatur natus deleniti, 
                magnam modi mollitia veniam ex! Dolorum.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Tenetur harum quos illo asperiores ut obcaecati unde, esse 
                exercitationem nulla error repellat pariatur natus deleniti, 
                magnam modi mollitia veniam ex! Dolorum.
            </p>
        </div>
    </div>
</div>

<div class="technologies">   
    <div class="content-technologies">
        <h2>Tecnologías</h2>
        <div class="content-technologies-banner">
            <img src="{{banner}}" alt="tecnologias">
        </div>
    </div>    
</div>