<header>
  
  <nav>
    <div class="nav-logo">
      <a id="logo" [routerLink]="['/about_me']">LOGO</a>
      <div class="nav-menu"></div>
    </div>
    
    <ul>
      <li><a [routerLink]="['/about_me']" [routerLinkActive]="['active']">Sobre mi</a></li>
      <li><a [routerLink]="['/projects']" [routerLinkActive]="['active']">Proyectos</a></li>
      <li><a [routerLink]="['/contact']" [routerLinkActive]="['active']">Contacto</a></li>
    </ul>

  </nav>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  &copy; 2020 All rights reserved
</footer>
